/*Custom propiedades*/

:root {
    --primario: #7ABE47;
    --secundario: #ffc845;
    --negro: #000000;
    --claro: #ffffff;
    --gris: #eeeeee;
    --oscuro: #57a42b;
    --padding: 1rem;
    --padding2: 2rem;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: var(--gris);
    font-family: 'Roboto', sans-serif;
}

.contenedor {
    max-width: 1100px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

h1,h2,h3,h4 {
    font-weight: 300;
    margin: 1rem 0 1rem 0;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 2rem;
}

p {
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
}
.boton {
    background-color: var(--primario);
    display: block;
    padding: 1rem;
    text-align: center;
    color: var(--claro);
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid var(--primario);
    transition: all .5s ease-in-out;
}
.boton:hover {
    background-color: var(--claro);
    color: var(--primario);

}


/*header*/

.header {
    margin-top: 2rem;
    background-color: var(--primario);
    padding: var(--padding);
}

.header .barra {
    display: grid;
    grid-auto-rows: repeat(2, auto);
    grid-row-gap: 2rem;
    justify-content: center;
}

.header .menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: 30px;
    align-content: end;
}
.header .menu a {
    text-align: center;
    color: var(--claro);
    text-decoration: none;
    font-size: 1.4rem;
}

.header .menu a:hover {

   background-color:  hsl(98, 74%, 37%);
   color: hsl(71, 84%, 49%);
   border-radius: 1rem;
 }
   

@media screen and (min-width:992px) {
    .header .barra{
        grid-template-columns: 30% 1fr 30%;
        justify-content: space-between;
        grid-template-rows: unset;/*esto para qitarles las filas que ya no estamos usando en este tamaño*/
    }
    header .menu {
        grid-column: 3 / 4;
        display: grid;
        align-content: center;
    }
}

/*Nosotros*/

.nosotros {
    text-align: center;
    margin-top: 2rem;
}

@media (min-width:992px) {
    .nosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        text-align: left;
    }    
}

.contenido-nosotros {
    display: grid;
    align-content: center;
}

/*Venta*/

.venta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1rem;
}

.venta img {
    width: 100%;
    height: 100%;
}

.destacada {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: auto; /*para que sea una sola columna*/
}
@media screen and (min-width:700px) {

    .destacada {
        grid-column: 1 / 3;
        grid-template-columns: repeat(2, 1fr);
    
    }
}


@media (min-width:825px) {
    .venta {
        grid-template-columns: repeat(3, 1fr) ;
        grid-template-rows: repeat(2, auto);
    }
    .destacada{
        display: grid;
        grid-template-columns:repeat(2, 1fr) ;
    }
    .destacada .card{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
.card {
    background-color: var(--claro);
    padding: 1rem;
    border: 1px solid rgb(199, 199, 199);
}

.card p {
    font-size: 1rem;
    line-height:  1.8rem;
}

.anuncio {
    display: grid;
}

.anuncio .precio{
    font-size: 1.4rem;
    font-weight: 400;
}

.precio span {
    font-weight: 400;
    color: var(--primario);
}

/*footer*/

.footer {
    background-color: var(--primario);
    margin-top: var(--padding2);
    padding-top: var(--padding2);
    color: var(--claro);
}

.footer .contenedor {
    max-width: 90%;
}


@media (min-width: 768px) {
    .footer .contenedor{
        display: grid;
        grid-template-columns: 30% 20% 2fr;
        grid-column-gap: 2rem;
        
    }
}
.footer .wdiger h3 {
    margin-bottom: 2rem;
}
.footer .navegacion a {
    display: block;
    color: var(--claro);
    font-size: 1.4rem;
    margin-bottom: 1rem;
    text-decoration: none;
}

.footer .contenedor-casas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.footer .casa {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem
}

footer .casa p {
    margin: 0;
}

.copyright {
    background-color: var(--oscuro);
    margin: 3rem 0 0 0;
    text-align: center;
    padding: 1rem;
}




